<div class="d-block bg-dark">
  <h1 class="navbar-brand w-100 pt-3 pl-3 mb-0 text-white" href="#">All Movies</h1>
  <span class="nav-link pt-0 text-white">Powered by <a class="text-white" href="http://www.omdbapi.com/" target="_blank">OMDb API</a></span>
</div>
<nav class="navbar navbar-expand-sm p-0 font-weight-bold">
  <ul class="navbar-nav w-100 bg-success">
    <li class="pl-3 px-md-1 nav-item">
      <a class="py-1 nav-link text-white" href="/">Home</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
