<div class="container d-inline m-0 p-0">
  <div class="row justify-content-between border-bottom">
    <div class="col-6 col-md-8">
      <h2 class="ml-3 mt-1 d-inline-block">Most popular movies</h2>
      <span class="ml-3 d-inline-flex">(According to rating of <a href="https://www.imdb.com">IMDb</a>)</span><br>
    </div>
    <div class="input-group col-6 col-md-4">
      <div class="search-area input-group mt-2 mb-1 mr-1">
        <input #searchbox type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="fa fa-search btn btn-success" type="button" (click)="search(searchbox.value)"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix justify-content-end">
    <div class="col-6 col-md-3 pr-0">
      <h6 class="align-bottom d-inline-block mr-1">Movies per page: </h6>
      <select class="custom-select mt-2 w-auto" (change)="setItemsPerPage($event.target.value)">
        <option value=15 [selected]="itemsPerPage == 15">15</option>
        <option value=30 [selected]="itemsPerPage == 30">30</option>
        <option value=45 [selected]="itemsPerPage == 45">45</option>
      </select>
    </div>
    <ul class="col-6 col-md-3 pagination mt-2">
      <li class="page-item" (click)="changePage(currentPage-1)" [ngClass]="{'disabled': currentPage == 1}">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage != 1" (click)="changePage(1)">
        <a class="page-link" >1</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage-3)">
        <a class="page-link" *ngIf="currentPage-2 > 1 && currentPage-3 != 1">...</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage-2)">
        <a class="page-link" *ngIf="currentPage > 3">{{currentPage-2}}</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage-1)">
        <a class="page-link" *ngIf="currentPage > 2">{{currentPage-1}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{currentPage}}</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage+1)">
        <a class="page-link" *ngIf="currentPage < lastPage-1">{{currentPage+1}}</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage+2)">
        <a class="page-link" *ngIf="currentPage < lastPage-2">{{currentPage+2}}</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage+3)">
        <a class="page-link" *ngIf="currentPage+2 < lastPage && currentPage+3 != lastPage">...</a>
      </li>
      <li class="page-item" (click)="changePage(lastPage)">
        <a class="page-link" *ngIf="currentPage != lastPage">{{lastPage}}</a>
      </li>
      <li class="page-item" (click)="changePage(currentPage+1)" [ngClass]="{'disabled': currentPage == lastPage}">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-center top-movies">
    <a class="card col-4 col-sm-3 col-md-2 p-0 m-1" *ngFor="let movie of displayedMovies" routerLink="/{{movie.imdbID}}" routerLinkActive="active" (click)=setCurrentMovie(movie)>
      <img src={{movie.Poster}} class="card-img" (error)="this.movie.Poster = 'assets/no-poster.png'">
      <div class="card-body p-0 pt-1 border border-secondary">
        <h5 class="card-title text-center text-dark">{{movie.Title}}</h5>
      </div>
    </a>
  </div>
</div>
