<div class="container m-0 d-inline p-0">
  <div class="row justify-content-between border-bottom">
    <div class="col-6 col-md-8">
      <h2 class="ml-3 mt-1 d-inline-block">Search by title: "{{searchTitle}}"</h2>
    </div>
    <div class="input-group col-6 col-md-4">
      <div class="search-area input-group mt-2 mb-1 mr-1">
        <input #searchbox type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="fa fa-search btn btn-success" type="button" (click)="search(searchbox.value)"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center top-movies" *ngIf="searchResult; else errorMessage">
    <a class="card col-4 col-sm-3 col-md-2 p-0 m-1" *ngFor="let movie of searchResult" routerLink="/{{movie.imdbID}}"routerLinkActive="active" (click)=setCurrentMovie(movie.Title)>
      <img src={{movie.Poster}} class="card-img">
      <div class="card-body p-0 pt-1 border border-secondary">
        <h5 class="card-title text-center text-dark">{{movie.Title}}</h5>
      </div>
    </a>
  </div>
  <ng-template #errorMessage>
    <h3 class="border border-success text-center mt-1 p-3">No movies matched your search!</h3>
  </ng-template>
</div>
