span {
  cursor: default;
}

.nav-item:hover {
  background-color: #343A40;
}

.page-item.active
.page-link {
  background-color: #28A745;
  border-color: #28A745;
  color: white !important;
}

.page-link:hover {
  cursor: pointer;
}

.spinner-sheet {
  height: 250%;
}

.spinner-border {
  z-index: 1;
}

.search-area {
  height: min-content;
}
